body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree';
}


.illustration {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-content {
    max-width: 450px;
    width: 100%;
    border: 2px solid black;
    border-radius: 16px;
    background: white;
    padding: 24px;
    box-shadow: 8px 8px 0 0 #000; 
}

.button1 {
    margin-top: 15px;
    background-color: hsl(47, 88%, 63%);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.blog-heading {
    color: hsl(0, 0%, 7%);
}

.blog-text {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    margin-bottom: 20px;
}

.button1:hover {
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: hsl(47, 88%, 55%);
}

.author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar {
    width: 10%;
}

.name {
    font-weight: bold;
    margin-left: 20px;
}